<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
    <test name="Task3-AllTests">

        <classes>
            <class name="com.example.l2task3.tests.CardsTest">
            </class>
            <class name="com.example.l2task3.tests.CookiesFormTest">

            </class>
            <class name="com.example.l2task3.tests.HelpFormTest">

            </class>
            <class name="com.example.l2task3.tests.TimerTest">
            </class>
        </classes>
    </test>

<!--    <test name="Task3-CardsTest">-->
<!--        <classes>-->
<!--            <class name="com.example.l2task3.tests.CardsTest">-->

<!--            </class>-->
<!--        </classes>-->
<!--    </test>-->

</suite>
